<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.networksaremadeofstring.rhybudd"
      android:installLocation="auto" android:versionCode="25" android:versionName="4.0 (Alpha)">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="net.networksaremadeofstring.rhybudd.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="net.networksaremadeofstring.rhybudd.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application android:theme="@style/Theme.Rhybudd_default" android:icon="@drawable/icon"
                 android:debuggable="true"
                 android:label="@string/app_name" android:allowClearUserData="true" android:description="@string/Description"
        android:backupAgent="RhybuddBackupAgent" android:allowBackup="true">

        <activity android:name=".ViewZenossEventsListActivity"
                  android:label="@string/app_name"
                  android:uiOptions="splitActionBarWhenNarrow"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value="net.networksaremadeofstring.rhybudd.Search" />
        </activity>


        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="net.networksaremadeofstring.rhybudd" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

  <!--      <activity android:name=".RhybuddDock"  android:label="Rhybudd Dock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.CAR_DOCK" /> 
		        <category android:name="android.intent.category.DESK_DOCK" />
		        <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
        </activity>-->
        
        <activity android:name=".SettingsFragment"
			android:label="@string/app_name">
		</activity>

        <activity android:name=".PushConfigActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="application/vnd.net.networksaremadeofstring.rhybudd.push" />
            </intent-filter>
        </activity>

        <activity android:name=".WriteNFCActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".FirstRunSettings"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".ViewZenossGroupsActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".ViewZenossEventsListActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".ViewZenossEventsListActivity" />
        </activity>

        <activity android:name=".AddDeviceActivity"
                  android:parentActivityName=".DeviceList"
                  android:label="@string/AddDeviceTitle">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".DeviceList" />
        </activity>

		<activity android:name="net.networksaremadeofstring.rhybudd.ViewZenossEvent"
			android:label="Rhybudd - Event Details"
			android:uiOptions="splitActionBarWhenNarrow">
		</activity>

        <activity android:name="net.networksaremadeofstring.rhybudd.ViewZenossEventActivity"
                  android:label="Rhybudd - Event Details"
                  android:uiOptions="splitActionBarWhenNarrow">
        </activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.DeviceList"
			android:label="Rhybudd - Infrastructure List">
			<meta-data android:name="android.app.default_searchable" android:value="net.networksaremadeofstring.rhybudd.Search" />
		</activity>

        <activity android:name=".ViewZenossDeviceListActivity"
                  android:label="Rhybudd - Infrastructure List">
            <meta-data android:name="android.app.default_searchable" android:value="net.networksaremadeofstring.rhybudd.Search" />
        </activity>

        <activity android:name=".ViewZenossDeviceActivity"
                  android:parentActivityName=".ViewZenossEventsListActivity"
                  android:label="Rhybudd - View Device">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".ViewZenossEventsListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="application/vnd.rhybudd.device" />
                <data android:mimeType="application/vnd.net.networksaremadeofstring.rhybudd.devicepage" />
            </intent-filter>
        </activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.ViewZenossDevice"
			android:label="Rhybudd - Device Details">
			<intent-filter>
			     <action android:name="android.intent.action.VIEW" />
			     <category android:name="android.intent.category.DEFAULT" />
			     <category android:name="android.intent.category.BROWSABLE" />
			     <data android:path="/zport/dmd/Devices/*" />
			 </intent-filter>
		</activity>

        <activity android:name="net.networksaremadeofstring.rhybudd.ManageDatabase"
                  android:label="Rhybudd - Manage Cache">
        </activity>

		<!-- <activity android:name="net.networksaremadeofstring.rhybudd.Search"
			android:label="Rhybudd - Search">
		</activity>-->

		<activity android:name="Search" android:label="Search" android:theme="@style/Theme.Rhybudd_default">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        
		
		<!-- 
		 ______     __  __     ______   ______     ______     ______    
		/\  ___\   /\_\_\_\   /\__  _\ /\  == \   /\  __ \   /\  ___\   
		\ \  __\   \/_/\_\/_  \/_/\ \/ \ \  __<   \ \  __ \  \ \___  \  
		 \ \_____\   /\_\/\_\    \ \_\  \ \_\ \_\  \ \_\ \_\  \/\_____\ 
		  \/_____/   \/_/\/_/     \/_/   \/_/ /_/   \/_/\/_/   \/_____/ 
		          
		          		                                                        
		-->
        <service android:name=".ZenossPoller">
        </service>

        <receiver android:name=".MassAcknowledgeReceiver" >
            <intent-filter>
                <action android:name="net.networksaremadeofstring.rhybudd.broadcast.massacknowledge" />
            </intent-filter>
        </receiver>

        <service
                android:name="net.networksaremadeofstring.rhybudd.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>

        <provider
                android:name="net.networksaremadeofstring.rhybudd.StubProvider"
                android:authorities="net.networksaremadeofstring.rhybudd.provider"
                android:exported="false"
                android:syncable="true"/>

        <service
                android:name="net.networksaremadeofstring.rhybudd.SyncService"
                android:exported="true"
                android:process=":sync">
            <intent-filter>net.networksaremadeofstring.rhybudd.provider
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>

        <service android:name=".RhybuddDream" android:exported="true"
                 android:icon="@drawable/ic_acknowledged" android:label="Rhybudd Dream" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- <receiver android:name="ManageUpdate">
		  <intent-filter>
		    <action android:name="android.intent.action.PACKAGE_REPLACED" />
		    <data android:scheme="package"/> 
		  </intent-filter>
		</receiver> -->
		
		<!-- 
		 __     __     __     _____     ______     ______     ______   ______       
		/\ \  _ \ \   /\ \   /\  __-.  /\  ___\   /\  ___\   /\__  _\ /\  ___\      
		\ \ \/ ".\ \  \ \ \  \ \ \/\ \ \ \ \__ \  \ \  __\   \/_/\ \/ \ \___  \     
 		 \ \__/".~\_\  \ \_\  \ \____-  \ \_____\  \ \_____\    \ \_\  \/\_____\    
 		  \/_/   \/_/   \/_/   \/____/   \/_____/   \/_____/     \/_/   \/_____/    
                                                                            
		 -->
		<receiver android:name="net.networksaremadeofstring.rhybudd.ZenossWidget" 
			android:label="Rhybudd - Current Event Count">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/zenoss_widget" />
		</receiver>
		
		<receiver android:name="net.networksaremadeofstring.rhybudd.ZenossWidgetGraph" 
			android:label="Rhybudd - Events Graph">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/zenoss_widget_graph" />
		</receiver>

		<meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAI_p4Fmym8ZBYQy6zNfaz3mQ-mj-C6zPWIFf3WDA" />
    </application>
</manifest>