<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.networksaremadeofstring.rhybudd"
      android:installLocation="auto" android:versionName="2.1" android:versionCode="7">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowClearUserData="true" android:description="@string/Description" android:debuggable="false">
        <activity android:name=".launcher"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="net.networksaremadeofstring.rhybudd.RhybuddDock"
                  android:label="Rhybudd Dock"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DESK_DOCK" />
                <category android:name="android.intent.category.HE_DESK_DOCK" />
                <category android:name="android.intent.category.LE_DESK_DOCK" />
            </intent-filter>
        </activity>
        
        <service android:name=".ZenossPoller" />
        
        <activity android:name=".RhybuddSettings"
			android:label="@string/app_name">
		</activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.rhestr"
			android:label="Rhybudd - Zenoss Events List">
			<intent-filter>
			     <action android:name="android.intent.action.VIEW" />
			     <category android:name="android.intent.category.DEFAULT" />
			     <category android:name="android.intent.category.BROWSABLE" />
			     <data android:path="/zport/dmd/Events/evconsole*" />
			 </intent-filter>
		</activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.RhybuddHome"
			android:label="Rhybudd - Launcher">
			<meta-data android:name="android.app.default_searchable" android:value="net.networksaremadeofstring.rhybudd.Search" />
		</activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.ViewZenossEvent"
			android:label="Rhybudd - Event Details"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.DeviceList"
			android:label="Rhybudd - Infrastructure List">
			<meta-data android:name="android.app.default_searchable" android:value="net.networksaremadeofstring.rhybudd.Search" />
		</activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.ManageDatabase"
			android:label="Rhybudd - Manage Cache">
		</activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.ViewZenossDevice"
			android:label="Rhybudd - Device Details"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
			     <action android:name="android.intent.action.VIEW" />
			     <category android:name="android.intent.category.DEFAULT" />
			     <category android:name="android.intent.category.BROWSABLE" />
			     <data android:path="/zport/dmd/Devices/*" />
			 </intent-filter>
		</activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.RhestrPagerDuty"
			android:label="Rhybudd - PagerDuty Incidents">
		</activity>
		
		<activity android:name="net.networksaremadeofstring.rhybudd.Search"
			android:label="Rhybudd - Search">
		</activity>

		<activity android:name="Search" android:label="Search" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        
		<receiver android:name="net.networksaremadeofstring.rhybudd.ZenossWidget" 
			android:label="Rhybudd - Current Event Count">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/zenoss_widget" />
		</receiver>
		
		<receiver android:name="net.networksaremadeofstring.rhybudd.ZenossWidgetGraph" 
			android:label="Rhybudd - Events Graph">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/zenoss_widget_graph" />
		</receiver>
    </application>
</manifest>